<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <img src="{% static 'images/cats_with_fire.jpg' %}" alt="Picture of Cats around a fire" /><br />
        <strong>{{ boldmessage }}</strong><br />
    </head>

    <body>

        <div>
            <ul>
                {% if cats %}
                {% for cat in cats %}
                <li>
                    {{ cat.name }}
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>


        <div>
            Click to go back to <a href="{% url 'pets_for_students:index' %}">Home</a>
        </div>
    </body>
    
</html>